<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us - BCA Notes Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="about.css">
</head>
<body>

    <section class="about-section">

        <h1>About Us</h1>
        <p class="subtitle">
            This BCA Notes Website was developed as a major project for distance students of CDOE.
        </p>

        <div class="card-container">
            <div class="card">
                <img src="mine.jpeg" alt="Ajoy" class="profile-img">
                <h2>Ajoy</h2>
                <p class="role">Frontend & UI Developer</p>
                <p class="description">
                    Designed and developed the complete frontend of the website using HTML5 and CSS3.
                    Implemented responsive layouts using Flexbox and Grid system.
                    Worked on user interface design, navigation structure, and overall visual presentation.
                </p>

                <div class="social">
                    <a href="https://www.instagram.com/___l_u_c_i__/?hl=en" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="jahangir.jpeg" alt="Jahangir" class="profile-img">
                <h2>Jahangir</h2>
                <p class="role">Backend & Database Developer</p>
                <p class="description">
                    Developed backend functionality using Python and Flask.
                    Implemented routing, authentication, session handling, and database operations.
                    Ensured secure data processing and system logic implementation.
                </p>

                <div class="social">
                    <a href="https://www.instagram.com/kuroko_ltetsuya?igsh=MXRhdHlrbjQyOHcybQ==" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>

        </div>

    </section>

</body>
</html>