<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCA Notes - Semesters</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="load.png" type="image">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="dbrg logo.gif" alt="University Logo">
            </div>
            <div class="right" id="navMenu">
                <ul class="nav-links">
                    <li><a href="notes.html">Notes</a></li>
                    <li><a href="#">PYQs</a></li>
                    <li><a href="syllubus_update.pdf">Syllabus</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="main">
        <div class="notes-page-container">
            <h2>BCA Semester Notes</h2>
            <p>Select your semester to download the study materials.</p>
            
            <div class="semester-section">
    <h3 style="border-bottom: 2px solid #0056b3; padding-bottom: 10px; margin-bottom: 25px;">Semester 1</h3>
    
    <div class="notes-grid">
        
        <div class="subject-card">
            <h4>Computer Fundamentals</h4>
            <p class="course-code">BCA-101 | Computer Fundamentals</p>
            
            <a href="/download/1/BCA_101_block_1.pdf" class="download-btn">
                <span>Block 1: Introduction to Computer Fundamentals and Information Technologies</span>
                <span class="download-icon">📥</span>
            </a>
            
            <a href="/download/1/BCA_101_Block_2.pdf" class="download-btn">
                <span>Block 2: Computer Organisations & Working</span>
                <span class="download-icon">📥</span>
            </a>
            
            <a href="/download/1/BCA_101_Block_3.pdf" class="download-btn">
                <span>Block 3: Computer Software</span>
                <span class="download-icon">📥</span>
            </a>
        </div>

        <div class="subject-card">
            <h4>Mathematics-I</h4>
            <p class="course-code">BCA-102 | Mathematics-I</p>
            
            <a href="/download/1/BCA_102_BLOCK_I.PDF" class="download-btn">
                <span>Block 1: Mathematical Logic & Discrete Structures</span>
                <span class="download-icon">📥</span>
            </a>

            <a href="/download/1/BCA_102_BLOCK_II.PDF" class="download-btn">
                <span>Block 2: Statistics & Matrix Algebra</span>
                <span class="download-icon">📥</span>
            </a>
        </div>

        <div class="subject-card">
            <h4>Business Communication & Grooming</h4>
            <p class="course-code">BCA-103 | Business Communication & Grooming</p>
            
            <a href="/download/1/BCA_103_BLOCK_I.PDF" class="download-btn">
                <span>Block 1: Business Communication & self-development</span>
                <span class="download-icon">📥</span>
            </a>

            <a href="/download/1/BCA_103_BLOCK_II.PDF" class="download-btn">
                <span>Block 2: Principles of Effective Communication</span>
                <span class="download-icon">📥</span>
            </a>

            <a href="/download/1/BCA_103_BLOCK_III.PDF" class="download-btn">
                <span>Block 3: Report Writing and Presentation skills</span>
                <span class="download-icon">📥</span>
            </a>

            <a href="/download/1/BCA_103_BLOCK_IV.PDF" class="download-btn">
                <span>Block 4: Personality Development</span>
                <span class="download-icon">📥</span>
            </a>

            <a href="/download/1/BCA_103_BLOCK_V.PDF" class="download-btn">
                <span>Block 5: Communication skills & Other factors of Personality</span>
                <span class="download-icon">📥</span>
            </a>   
        </div>

        <div class="subject-card">
            <h4>Programming in C</h4>
            <p class="course-code">BCA-104 | Programming in C</p>
            <p class="course-code">Includes Q&A from all the Blocks</p>
            <a href="/download/1/BCA_104_C_Programming.PDF" class="download-btn">
                <span>Programming in C</span>
                <span class="download-icon">📥</span>
            </a>
        </div>

        <div class="subject-card">
            <h4>Programming in C</h4>
            <p class="course-code">BCA-105 | Includes Q&A from all the Blocks</p>
            <a href="/download/1/BCA_105_Digital_Design.PDF" class="download-btn">
                <span>Digital Design</span>
                <span class="download-icon">📥</span>
            </a>
        </div>
    </div>
</div>
        <br>
        <div class="semester-section">
        <h3 style="border-bottom: 2px solid #0056b3; padding-bottom: 10px; margin-bottom: 25px;">Semester 2</h3>
        <div class="notes-grid">
            <div class="subject-card">
                <h4>Mathematics-II</h4>
                <p class="course-code">BCA-201 | Includes Q&A from all the Blocks </p> 
                <a href="/download/2/BCA_201_Math_II.PDF" class="download-btn">
                    <span>Descrete Mathematics</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Discrete Math</h4>
                <p class="course-code">BCA-202 | Includes Q&A from all the Blocks</p> 
                <a href="/download/2/BCA_202_Discrete_Math.PDF" class="download-btn">
                    <span>Discrete Mathematics</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Data Structure using C & C++</h4>
                <p class="course-code">BCA-203 | Includes Q&A from all the Blocks</p> 
                <a href="/download/2/BCA_203_Data_Structure.PDF" class="download-btn">
                    <span>Data Structure using C & C++</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Accounting and Financial Management</h4>
                <p class="course-code">BCA-204 | Includes Q&A from all the Blocks </p> 
                <a href="/download/2/BCA_204_Accounting_I.PDF" class="download-btn">
                    <span>Accounting and Financial Management</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Computer Architecture and Organisation</h4>
                <p class="course-code">BCA-205 | Includes Q&A from all the Blocks</p> 
                <a href="/download/2/BCA_205_Computer_Architecture.PDF" class="download-btn">
                    <span>Computer Architecture and Organisation</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>
        </div>
            
            <br>
            
        <div class="semester-section">
        <h3 style="border-bottom: 2px solid #0056b3; padding-bottom: 10px; margin-bottom: 25px;">Semester 3</h3>
        <div class="notes-grid">
            <div class="subject-card">
                <h4>Mathematics-III</h4>
                <p class="course-code">BCA-301 | Includes Q&A from all the Blocks </p> 
                <a href="/download/3/BCA_301_Math_III.PDF" class="download-btn">
                    <span>Mathematics-III</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Theory of Computating</h4>
                <p class="course-code">BCA-302 | Includes Q&A from all the Blocks</p> 
                <a href="/download/3/BCA_302_Theory_of_Computating.PDF" class="download-btn">
                    <span>Theory of Computating</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Interne and Web Programming Technology</h4>
                <p class="course-code">BCA-303 | Includes Q&A from all the Blocks</p> 
                <a href="/download/3/BCA_303_Internet_and_Web_Tech.PDF" class="download-btn">
                    <span>Interne and Web Programming Technology</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Computer Graphics</h4>
                <p class="course-code">BCA-304 | Includes Q&A from all the Blocks </p> 
                <a href="/download/3/BCA_304_Computer_Graphics.PDF" class="download-btn">
                    <span>Computer Graphics</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Design and Analysis of Algorithms</h4>
                <p class="course-code">BCA-305 | Includes Q&A from all the Blocks</p> 
                <a href="/download/3/BCA_305_Design_Analysis_Algorithms.PDF" class="download-btn">
                    <span>Design and Analysis of Algorithms</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>
        </div>

         <br>
        <div class="semester-section">
        <h3 style="border-bottom: 2px solid #0056b3; padding-bottom: 10px; margin-bottom: 25px;">Semester 4</h3>
        <div class="notes-grid">
            <div class="subject-card">
                <h4>Numerical Analysis and Scientific Computing</h4>
                <p class="course-code">BCA-401 | Includes Q&A from all the Blocks </p> 
                <a href="/download/4/bca-401 notes.PDF" class="download-btn">
                    <span>Numerical Analysis and Scientific Computing</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Database Management System</h4>
                <p class="course-code">BCA-402 | Includes Q&A from all the Blocks</p> 
                <a href="/download/4/bca-402 notes.PDF" class="download-btn">
                    <span>Database Management System</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Operating System</h4>
                <p class="course-code">BCA-403 | Includes Q&A from all the Blocks</p> 
                <a href="/download/4/bca-403 notes.PDF" class="download-btn">
                    <span>Operating System</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Object Oriented Programming Using JAVA</h4>
                <p class="course-code">BCA-404 | Includes Q&A from all the Blocks </p> 
                <a href="/download/4/bca-404 notes.PDF" class="download-btn">
                    <span>Object Oriented Programming Using JAVA</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>
        </div>

             <br>
        <div class="semester-section">
        <h3 style="border-bottom: 2px solid #0056b3; padding-bottom: 10px; margin-bottom: 25px;">Semester 5</h3>
        <div class="notes-grid">
            <div class="subject-card">
                <h4>Data Communications & CComputer Networks</h4>
                <p class="course-code">BCA-501 | Includes Q&A from all the Blocks </p> 
                <a href="/download/5/bca-501 notes.PDF" class="download-btn">
                    <span>Data Communications & Computer Networks</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Operation Research</h4>
                <p class="course-code">BCA-502 | Includes Q&A from all the Blocks</p> 
                <a href="/download/5/bca-502 notes.PDF" class="download-btn">
                    <span>Operation Research</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>Software Engineering</h4>
                <p class="course-code">BCA-503 | Includes Q&A from all the Blocks</p> 
                <a href="/download/5/bca-503 notes.PDF" class="download-btn">
                    <span>Software Engineering</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>
        </div>    

             <br>
        <div class="semester-section">
        <h3 style="border-bottom: 2px solid #0056b3; padding-bottom: 10px; margin-bottom: 25px;">Semester 6</h3>
        <div class="notes-grid">
            <div class="subject-card">
                <h4>Artificial Intelligence</h4>
                <p class="course-code">BCA-601 | Includes Q&A from all the Blocks </p> 
                <a href="/download/6/bca-601 notes.PDF" class="download-btn">
                    <span>Artificial Intelligence</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>

            <div class="subject-card">
                <h4>System Software</h4>
                <p class="course-code">BCA-602 | Includes Q&A from all the Blocks</p> 
                <a href="/download/6/bca-602 notes.PDF" class="download-btn">
                    <span>System Software</span>
                    <span class="download-icon">📥</span>
                </a>
            </div>
        </div>
    </section>

    <footer>
        <p>© 2026 BCA Distance Notes | Created by Ajoy & Jahangir</p>
    </footer>

</body>
</html>