<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PYQs - BCA Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pyq.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">BCA-CDOE NOTES</div>
    </nav>
    <section class="hero">
        <h1>Previous Year Questions</h1>
        <p>Download and practice for exams</p>
    </section>
    <section class="pyq-menu">
        <div class="pyq-card">
            <h3>BCA-401 (2023)</h3>
            <p>Numerical Analysis and Scientific Computer</p>
            <a href="BCA202 -2023.pdf" download>Download PDF</a>
        </div>

        <div class="pyq-card">
            <h3>BCA-402 (2016)</h3>
            <p>Database Management System</p>
            <a href="BCA202 -2023.pdf" download>Download PDF</a>
        </div>

        <div class="pyq-card">
            <h3>BCA-403 (2020)</h3>
            <p>Operating System</p>
            <a href="BCA202 -2023.pdf" download>Download PDF</a>
        </div>

        <div class="pyq-card">
            <h3>BCA-404 (2023)</h3>
            <p>Object Oriented Programming using Java</p>
            <a href="BCA202 -2023.pdf" download>Download PDF</a>
        </div>
        <div class="pyq-card">
            <h3>BCA-501(2024)</h3>
            <p>Data Communication and Computer Networks</p>
            <a href="BCA202 -2023.pdf" download>Download PDF</a>
        </div>

        <div class="pyq-card">
            <h3>BCA-502(2021)</h3>
            <p>Operation Research</p>
            <a href="BCA202 -2023.pdf" download>Download PDF</a>
        </div>
        <div class="pyq-card">
            <h3>BCA-503(2019)</h3>
            <p>Software Engineering</p>
            <a href="BCA202 -2023.pdf" download>Download PDF</a>
        </div>
        <div class="pyq-card">
            <h3>BCA-601(2020)</h3>
            <p>Artificial Intelligence</p>
            <a href="BCA202 -2023.pdf" download>Download PDF</a>
        </div>
        <div class="pyq-card">
            <h3>BCA-602 (2020)</h3>
            <p>System Software</p>
            <a href="BCA202 -2023.pdf" download>Download PDF</a>
        </div>
    </section>

</body>

</html>